<button type="button" class="btn btn--approve formsubmit">&#10004; {{ "Approve"|t('app') }}</button>

{% css %}
.btn--approve {
    color:white !important;
    background-color:rgb(0, 185, 56);
}
.btn--approve:hover {
    background-color:rgb(0, 147, 44);
}
{% endcss %}